/* === MOBILE-FIRST === */
footer a, h1, h4, p {
    color: black;
}

/* --- LAYOUT --- */
footer, .footer-content, .footer-item, .footer-fine, .footer-fine-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer {
    padding: 2.6rem;
}

.footer-item {
    gap: 0.2rem;
    
}

.footer-fine-item {
    gap: 0.7rem;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

/* --- FORMS ---*/

/* newsletter form */
.newsletter-form {
    display: flex;
    margin-top: 0.5rem;
}

.newsletter-form input[type="email"] {
    flex: 1;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1em;
    background-color: #eee;
    border: none;
}

.newsletter-form button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #0000ff;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #0056b3;
}

/* language/location selection form */
.language-location-selectors {
    display: flex;
    gap: 4px;
    margin-top: 0.5rem;
}

.custom-select {
    position: relative;
}

.custom-select select {
  width: 100%;
  appearance: none;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

/* dropdown arrows */
.custom-select::after {
    content: "▼";
    position: absolute;
    font-size: 0.5rem;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000;
}

/* dropdown widths */
.custom-select.short {
    flex: 0 0 110px;
}

.custom-select.long {
    flex: 0 0 160px;
}

/* --- Links? --- */
.footer-link::after {
    content: " ›";
    color: inherit;
}

/* --- footer logo */
.footer-logo {
    width: 30px;
}

/* === MEDIA QUIERIES === */

/* --- LARGER SCREENS --- */
@media screen and (min-width: 1000px) {
    footer {
        padding: 10vw;
    }

    h1 {
        font-size: 4rem;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 11rem 15rem auto;
        gap: 3rem;
        padding-bottom: 1rem;
    }

    /* reordering for desktop */
    .footer-item:nth-child(1) { /* Newsletter */
        order: 3;
    }

    .footer-item:nth-child(2) { /* Register Live, Push or Move */
        order: 1;
    }

    .footer-item:nth-child(3) { /* Education */
        order: 2;
    }

    .footer-item:nth-child(4) { /* Community */
        order: 4;
    }

    .footer-item:nth-child(5) { /* Language and Location */
        order: 5;
    }

    .footer-fine {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-fine-item {
        flex-direction: row;
        align-items: center;
    }

}