/* mobile first */

/* LAYOUT */
main, .content-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
}
.medium {
    display: none;
}
.large {
    display: none;
}

/* HERO */
.hero-banner {
    overflow-x: hidden;
    overflow-y: hidden;
}
.hero-content {
    position: relative;
}

/* HERO IMG */
.hero-banner img,
.hero-content .hero-img { 
    width: 100%;
    height: auto;
    display: block;
}
.second .hero-img {
    margin: 8% 0 0 8%;
}
.third .hero-img {
    position: relative;
    bottom: 5vh;
    right: 8%;
    z-index: 4;
}

/* HERO TEXT */
.hero-text {
    position: absolute;
    z-index: 5;
}
.hero-header {
    font-size: calc(1.75rem + 1vw);
    font-weight: 500;
    line-height: 1.25;
}
.hero-link {
    text-decoration: underline;
}
.first .hero-text {
    top: 12%;
    left: 10%;
    max-width: 70%;
}
.second .hero-text {
    top: 10%;
    left: 17%;
    max-width: 70%;
}
.third .hero-text {
    top: 0;
    left: 10%;
    max-width: 70%;
}
.hero-link::after {
    content: " ›";
    color: inherit;
}

/* MAIN CONTENT */

.content-wrapper, .more-links {
    padding: 1rem 9vw 0rem 9vw;
}
.category-article, .article-other  {
    width:100%;
    text-align: start;
    padding-bottom: 2rem;
}
main .primary-link {
    text-align: center;
    font-size: 1.1rem;
}
.article-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.category-headline {
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.category {
    width: fit-content;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-weight: 500;
}
.artists {
    background-color: #FED134;
}
.downloads {
    background-color: #FF8389;
}
.videos {
    background-color: #B1C5FF;
}
.more-links {
    background-color: rgb(245, 244, 244);
    padding-block: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1rem;
}
.more-links a {
    padding-inline: 0.2rem;
}

/* text */
main a, h1, h2, p {
    color: #000000;
}

main h1, h2 {
    font-size: 1.30rem;
}

.category-headline a, .article-other a {
    font-size: 1.15rem;
}

/* === MEDIA QUERIES === */

/* --- TABLETS (2 columns) --- */
@media screen and (min-width: 600px) { /* for grids */
    main h1, h2 {
        font-size: calc(1.75rem + 0.5vw);
    }
    .articles-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }
    .article-img {
        height: 180px;
    }
    .more-links, .more-links p, .more-links a {
        text-align: center;
        font-size: 1.5rem;
    }
}

/* --- LARGER SCREENS (3 columns) --- */
@media screen and (min-width: 1030px) { /* for grids */
    .large {
        display: block;
    }
    .medium {
        display: none !important;
    }
    .content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    .article-category a {
        font-size: calc(1rem + 0.5vw);
        margin-left: 1rem;
    }
    .articles-grid {
        grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
    }
    .article-img {
        height: 180px;
    }
}

@media screen and (min-width: 770px) { /* for extra links and hero */
    .content-wrapper .mobile {
        display: none;
    }
    .content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .medium {
        display: block;
        font-size: calc(1rem + 0.5vw);
    }
    .medium::after {
        content: " ›";
        font-size: 20px;
    }
    .hero-banner {
        height: 100%;
    }

    /* HERO IMG */
    .first .hero-img {
        width: 57%;
    }
    .second .hero-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35%;
    }
    .third .hero-img {
        transform: translateY(-20%);
        top: 0%;
        right: 0%;
        left: 40%;
        width: 35%;
        bottom: 0%;
        z-index: 4;
    }

    /* HERO TEXT */
    .first .hero-text {
        left: 5%;
    }
    .first .hero-header {
        font-size: calc(1.5rem + 1.5vw);
    }
    .first .hero-link {
        font-size: calc(0.7rem + 1.5vw);
    }
    .second .hero-text {
        position: absolute;
        top: 0;
        left: 67%;
        padding-right: 2vw;
    }
    .third .hero-text {
        position: absolute;
        top: -10%;
        left: 43%;
        padding-right: 2vw;
    }
    .second .hero-header, .third .hero-header {
        font-size: calc(0.5rem + 1.5vw);
    }
}